@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;
  --text-primary: #333;
  --text-secondary: #666;
}

:root[data-theme="dark"] {
  --background: #1a1a1a;
  --foreground: #ededed;
  --bg-primary: #1a1a1a;
  --bg-secondary: #262626;
  --text-primary: #ffffff;
  --text-secondary: #ddd;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}